.container {
    margin: 20px 50px;
    border: 1px solid black;
    padding: 100px;
    background-color: rgb(22, 34, 49);
    color: rgb(179, 186, 192);
}

body {
    background-color: rgb(9, 9, 22);
}

.nav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(30, 40, 60);
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
    color: rgb(179, 186, 192);
}

.nav li a:hover {
    background-color: rgb(23, 35, 45);
}

.active-navpage {
    background-color: rgb(37, 57, 70);
}

.container {
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    float: left;
    width: 38%;
    padding: 30px;
    position: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

figcaption {
    color: white;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-size: 20px;
}